* {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

:root {
    --body-color: #efefef;
    --nav-color: #1876f2;
    --bg-color: #fff;
}

.dark-theme {
    --body-color: #101010;
    --nav-color: #000;
    --bg-color: #000;
}





body {
    background-color: var(--body-color);
    transition: background 0.3s;

}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--nav-color);
    padding: 5px 5%;
    position: sticky;
    top: 0;
    z-index: 100;
}

.logo {
    width: 160px;
    margin-right: 45px;
}

.nav-left,
.nav-right {
    display: flex;
    align-items: center;
}

.nav-left ul li {
    list-style: none;
    display: inline-block;
}

.nav-left ul li img {
    width: 28px;
    margin: 0 15px;
}

.nav-user-icon {
    margin-left: 30px;
    margin-top: 4px;
}

.nav-user-icon img {
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
}

.search-box {
    background: var(--bg-color);
    width: 350px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 0 15px;
}

.search-box img {
    width: 18px;
}

.search-box input {
    width: 100%;
    background: transparent;
    padding: 10px;
    outline: none;
    border: 0;
}

.online {
    position: relative;
}

.online::after {
    content: '';
    width: 7px;
    height: 7px;
    border: 2px solid #fff;
    border-radius: 50%;
    background-color: #41db51;
    position: absolute;
    right: 0;
    top: 0;
}

.container {
    display: flex;
    justify-content: space-between;
    padding: 13px 5%;
}

.left-sidebar {
    flex-basis: 25%;
    position: sticky;
    top: 70px;
    align-self: flex-start;
    background: var(--bg-color);
    padding: 20px;
    border-radius: 4px;
    color: #626262;
    margin-bottom: 100px;
}

.right-sidebar {
    flex-basis: 25%;
    position: sticky;
    top: 70px;
    align-self: flex-start;
    background: var(--bg-color);
    padding: 20px;
    border-radius: 4px;
    color: #626262;
    margin-bottom: 10px;

}

.main-content {
    flex-basis: 47%;
}

.imp-links a,
.shortcut-links a {
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    color: #626262;
    width: fit-content;
}

.imp-links a img {
    width: 25px;
    margin-right: 15px;
}

.imp-links a:last-child {
    color: #1876f2;
}

.imp-links {
    border-bottom: 1px solid #ccc;
}

.shortcut-links a img {
    width: 40px;
    border-radius: 4px;
    margin-right: 15px;
}

.shortcut-links p {
    margin: 25px 0px;
    color: #626262;
    font-weight: 500;
}

.sidebar-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 18px;
}

.right-sidebar h4 {
    font-weight: 600;
    font-size: 16px;
}

.sidebar-title a {
    text-decoration: none;
    color: #1876f2;
    font-size: 12px;
}

.event {
    display: flex;
    font-size: 14px;
    margin-bottom: 20px;
}

.left-event {
    border-radius: 10px;
    height: 65px;
    width: 65px;
    margin-right: 15px;
    padding-top: 10px;
    text-align: center;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.event p {
    margin-top: 5px;
    margin-bottom: 2px;
    font-size: 12px;
}

.event a {
    font-size: 12px;
    text-decoration: none;
    color: #1876f2;
}

.event h3 {
    margin-top: 3px;
}

.left-event span {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #1876f2;
    color: #fff;
    font-size: 10px;
    padding: 7px 0;
}

.sidebar-ads {
    width: 100%;
    margin-bottom: 20px;
    border-radius: 8px;
}

.online-list {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.online-list .online img {
    width: 40px;
    border-radius: 50%;
}

.online-list .online {
    width: 40px;
    border-radius: 50%;
    margin-right: 15px;
}

.online-list .online::after {
    top: unset;
    bottom: 5px;
}

.story-gallery {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.story {
    flex-basis: 18%;
    padding-top: 32%;
    position: relative;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}


.story img {
    position: absolute;
    width: 45px;
    border-radius: 50%;
    top: 10px;
    left: 10px;
    border: 5px solid #1876f2;
}

.story p {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 14px;
}

.story1 {
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.5)), url(status-1.png);
}

.story2 {
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.5)), url(status-4.png);
}

.story3 {
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.5)), url(status-5.png);
}

.story4 {
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.5)), url(status-2.png);
}

.story5 {
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.5)), url(status-3.png);
}

.story.story1 img {
    top: unset;
    left: 50%;
    bottom: 40px;
    transform: translateX(-50%);
    border: 0;
    width: 40px;
}

.write-post-container {
    width: 100%;
    border-radius: 6px;
    background: var(--bg-color);
    padding: 20px;
    color: #626262;
}

.user-profile {
    display: flex;
    align-items: center;
}

.user-profile img {
    width: 45px;
    border-radius: 50%;
    margin-right: 10px;
}

.user-profile p {
    margin-bottom: -5px;
    font-weight: 500;
    color: #626262;
}

.user-profile small {
    font-size: 12px;
}

.post-input-container {
    padding-left: 55px;
    padding-top: 10px;
}

.post-input-container textarea {
    width: 100%;
    border: 0;
    outline: 0;
    border-bottom: 2px solid #ccc;
    background: transparent;
    resize: none;
}

.add-post-links {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 10px;
}

.add-post-links a {
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #626262;
    margin-right: 30px;
    font-size: 13px;
}

.add-post-links img {
    width: 20px;
    margin-right: 10px;
}

.post-container {
    width: 100%;
    background-color: var(--bg-color);
    border-radius: 6px;
    padding: 20px;
    color: #626262;
    margin: 20px 0px;

}


.user-profile p {
    margin-bottom: 1px;
}

.user-profile span {
    font-size: 13px;
    color: #9a9a9a;
}

.post-container .post-text {
    margin: 10px 0;
    color: #9a9a9a;
    font-size: 15px;
}

.post-container .post-text span {
    color: #626262;
    font-weight: 500;
}

.post-text a {
    color: #1876f2;
    text-decoration: none;
}

.post-img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 5px;
}

.post-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.activity-icons div img {
    width: 18px;
    margin-right: 10px;
}

.activity-icons div {
    display: inline-flex;
    align-items: center;
    margin-right: 30px;
}

.post-profile-icons {
    display: flex;
    align-items: center;
}

.post-profile-icons img {
    width: 30px;
    border-radius: 50%;
    margin-right: 5px;
}

.post-row a {
    color: #9a9a9a;
}

.load-more-btn {
    display: block;
    margin-top: auto;
    cursor: pointer;
    padding: 5px 10px;
    border: 1px solid #9a9a9a;
    color: #626262;
    background: transparent;
    border-radius: 4px;
    margin-left: 270px;
}

.footer {
    text-align: center;
    margin-top: 10px;
    padding-top: 5px;
    padding-bottom: 15px;
    height: 30px;
    background-color: var(--nav-color);
}

.footer p {
    color: white;
}

.settings-menu {
    position: absolute;
    width: 90%;
    max-width: 350px;
    /* height: 390px; */
    background: var(--bg-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    border-radius: 4px;
    overflow: hidden;
    top: 108%;
    right: 5%;
    max-height: 0;
    transition: max-height 0.3s;

}

.settings-menu-height {
    max-height: 450px;

}

.settings-menu .user-profile a {
    font-size: 12px;
    color: #1876f2;
    text-decoration: none;
}

.settings-menu .settings-menu-inner {
    padding: 20px;
}

.settings-menu hr {
    border: 0;
    background: #9a9a9a;
    margin: 15px 0;
    height: 1px;
}

.settings-links {
    display: flex;
    align-items: center;
    margin: 15px 0;
}

.settings-links .settings-icons {
    width: 38px;
    margin-right: 10px;
    border-radius: 50%;
}

.settings-links a {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    color: #626262
}


#dark-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #ccc;
    width: 45px;
    border-radius: 15px;
    padding: 2px 3px;
    cursor: pointer;
    display: flex;
    transition: padding-left 0.5s, background 0.5s;
}

#dark-btn span {
    width: 18px;
    height: 18px;
    background: #fff;
    border-radius: 50%;
    display: inline-block;
}

#dark-btn.dark-btn-on {
    padding-left: 23px;
    background: #333131;

}


/* -------------------Profile-page------------- */


.profile-container {
    padding: 20px 15%;
    color: #626262;
}

.cover-img {
    width: 100%;
    border-radius: 6px;
    margin-bottom: 14px;
    height: 240px;
}

.profile-details {
    background: var(--bg-color);
    padding: 20px;
    border-radius: 6px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.pd-row {
    display: flex;
    align-items: flex-start;
}

.pd-image {
    width: 100px;
    margin-right: 20px;
    border-radius: 6px;
}

.pd-row div h3 {
    font-size: 25px;
    font-weight: 600;
}

.pd-row div p {
    font-size: 13px;
}

.pd-row div img {
    width: 25px;
    border-radius: 50%;
    margin-top: 12px;
}

.pd-right button {
    background: #1876f2;
    border: 0;
    outline: 0;
    padding: 6px 10px;
    display: inline-flex;
    align-items: center;
    color: #fff;
    border-radius: 3px;
    margin-left: 10px;
    cursor: pointer;

}

.pd-right button img {
    height: 15px;
    margin-right: 10px;
}

.pd-right button:first-child {
    background-color: #e4e6eb;
    color: #000;
}

.pd-right button:nth-child(3) {
    background-color: #e4e6eb;
    color: #000;
}


.pd-right {
    display: flex;
    align-items: center;
    text-align: right;
    margin-top: 30px;
}

.pd-right a {
    background: #e4e6eb;
    border-radius: 3px;
    padding: 12px;
    display: inline-flex;
    margin-left: 10px;
}

.pd-right a img {
    width: 20px;
}

.profile-info {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 20px;
}

.info-col {
    flex-basis: 33%;
}

.post-col {
    flex-basis: 65%;
}

.profile-intro {
    background: var(--bg-color);
    padding: 30px;
    margin-bottom: 20px;
    border-radius: 4px;
}

.profile-intro h3 {
    font-weight: 600;
    margin-left: 9px;
}

.profile-intro .intro-text {
    text-align: center;
    margin: 10px 0;
    font-size: 15px;
}

.intro-text img {
    width: 15px;
    margin-bottom: -3px;
}

.profile-intro hr {
    border: 0;
    height: 1px;
    background: #ccc;
    margin: 24px 0;
}

.profile-intro ul li {
    list-style: none;
    font-size: 15px;
    margin: 15px 0;
    display: flex;
    align-items: center;
}

.profile-intro ul li img {
    width: 26px;
    margin-right: 10px;

}

.title-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title-box a {
    text-decoration: none;
    color: #1876f2;
    font-size: 14px;
}

.photo-box {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 10px;
    margin-top: 15px;
}

.photo-box div img {
    width: 100%;
    cursor: pointer;
}

.profile-intro .friends-no {
    font-size: 14px;
    margin-left: 8px;

}

.friends-box {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 10px;
    margin-top: 15px;
}

.friends-box div img {
    width: 100%;
    cursor: pointer;
}

.friends-box div {
    position: relative;
}

.friends-box .friends-no {
    position: absolute;
    bottom: 0;
    left: 0;
}




/* -----------media-query for home page--------------- */


@media (max-width:900px){
    .right-sidebar{
        display: none;
    }

    .left-sidebar{
        display: none;
    }

    nav{
        flex-wrap: wrap;
    }

    .search-box{
        display: none;
    }

    .logo{
        width: 110px;
        margin-right: 20px;
    }

    .nav-left ul li img{
        width: 20px;
        margin: 0 8px;
    }

    .nav-user-icon img{
        width: 30px;
    }

    .nav-user-icon{
        margin-left: 0;
    }

    .add-post-links{
        flex-wrap: wrap;
    }

    .main-content{
        flex-basis: 100%;
    }

    .story img{
        width: 30px;
        border-width: 3px;
    }

    .story p{
        font-size: 10px;
    }

    .story .story1 img{
        width: 25px;
        bottom: 30px;
    }

    .add-post-links a{
        margin-right: 12px;
        font-size: 9px;
    }

    .add-post-links a img{
        width: 16px;
        margin-right: 5px;
    }

    .post-input-container{
        padding-left: 0;
    }
}


    /* ----------media query for profile page ----------------- */
    

@media (max-width:900px) {
    .profile-container{
        padding: 20px 5%;
    } 

    .profile-details{
        flex-wrap: wrap;
    }

    .pd-right{
        text-align: left;
        margin-top: 15px;
    }

    .pd-right button{
        margin-left: 0;
        margin-right: 10px;
    }

    .pd-row div h3{
        font-variation-settings: 16px;
    }

    .profile-info {
        flex-wrap: wrap;
    }

    .info-col, .post-col{
        flex-basis: 100%;
    }






}
























































